<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{item.itemName}}</h1>
                <div class="small mb-1">Itemseller: {{item.sellerName}}</div>
                
                
                
                <p class="lead">{{item.itemDescription}}</p>
                @if( item.allBids != [] || item.allBids != null ) {
                    <h3>Current Bids:</h3>
                    <ul>
                        <li *ngFor="let bid of item.allBids">
                            <h5>
                                <span>${{bid.bidValue}}</span>
                            </h5>
                        </li>
                    </ul>
                }
                <form (submit)="placeBid()" [formGroup]="addBid" class="d-flex">
                    
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" formControlName="bidValue" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" >
                        Add Bid
                        
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
